services:
  redis:
    container_name: redis
    #image: redis:latest # To download the latest image - You should avoid to download latest to have a better control on the version you use
    image: redis:8.0.2 #  To download a specific version, here the version 8.0.2
    ports:
      - 6379:6379 # HOST_PORT:CONTAINER_PORT
    volumes:
      - ./redis/conf/redis-full.conf:/usr/local/etc/redis/redis-full.conf # For version 8+
    command: [ "redis-server", "/usr/local/etc/redis/redis-full.conf" ] # For version 8+
    networks:
      - redis_network
  redisinsight:
    container_name: redisinsight
    image: redis/redisinsight:latest # To download the latest image
    env_file:
      - .env    
    environment:
      RI_APP_PORT: ${RI_APP_PORT}
      RI_APP_HOST: ${RI_APP_HOST}
      RI_LOG_LEVEL: ${RI_LOG_LEVEL}
      RI_FILES_LOGGER: ${RI_FILES_LOGGER}
      RI_REDIS_HOST: ${RI_REDIS_HOST}
    ports:
      - 8001:5540 # HOST_PORT:CONTAINER_PORT
    networks:
      - redis_network
    depends_on:
      - redis
networks:
  redis_network:
    driver: bridge