/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/auxiliary
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/logs
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/cockroach-temp597872300
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/*.log
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/MANIFEST-000001
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/marker.format-version.000003.004
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/marker.manifest.000001.MANIFEST-000001
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/OPTIONS-000003
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/STORAGE_MIN_VERSION
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/temp-dirs-record.txt
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/cockroach.advertise-addr
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/cockroach.advertise-sql-addr
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/cockroach.http-addr
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/cockroach.listen-addr
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/cockroach.sql-addr
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/CURRENT
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/LOCK
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/*.sst
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/OPTIONS-000023
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/MANIFEST-000015
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/MANIFEST-000022
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/marker.manifest.000003.MANIFEST-000022
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/OPTIONS-000030
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/MANIFEST-000029
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/marker.manifest.000004.MANIFEST-000029
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/OPTIONS-000033
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/MANIFEST-000021
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/MANIFEST-000032
/cockroachdb-docker-compose-examples/cockroachdb-single/data/crdb/marker.manifest.000004.MANIFEST-000032
