services:
  redis:
    container_name: redis
    image: redis:7.4.4 #  To download a specific version, here the version 7.4.4 (latest version prior to the version 8)
    ports:
      - 6379:6379 # HOST_PORT:CONTAINER_PORT
    volumes:
      - ./redis/conf/redis.conf:/usr/local/etc/redis/redis.conf # For version 7.4.4 and before
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ] # For version 7.4.4 and before
    networks:
      - redis_network
  redisinsight:
    container_name: redisinsight
    image: redis/redisinsight:latest # To download the latest image
    env_file:
      - .env    
    environment:
      RI_APP_PORT: ${RI_APP_PORT}
      RI_APP_HOST: ${RI_APP_HOST}
      RI_LOG_LEVEL: ${RI_LOG_LEVEL}
      RI_FILES_LOGGER: ${RI_FILES_LOGGER}
      RI_REDIS_HOST: ${RI_REDIS_HOST}
    ports:
      - 8001:5540 # HOST_PORT:CONTAINER_PORT
    networks:
      - redis_network
    depends_on:
      - redis
networks:
  redis_network:
    driver: bridge